/**/
span.c19 {
    margin-left: 6em
    }
span.c18 {
    margin-left: 4em
    }
span.c17 {
    font-style: italic;
    margin-left: 7em
    }
span.c16 {
    margin-left: 8em
    }
span.c15 {
    margin-left: 9em
    }
span.c14 {
    font-style: italic;
    margin-left: 4em
    }
span.c13 {
    margin-left: 4.5em
    }
span.c12 {
    margin-left: 5em
    }
span.c11 {
    font-style: italic;
    margin-left: 6.5em
    }
span.c10 {
    font-style: italic;
    margin-left: 6em
    }
span.c9 {
    font-style: italic;
    margin-left: 5.5em
    }
span.c8 {
    font-style: italic;
    margin-left: 3.5em
    }
span.c7 {
    font-style: italic;
    margin-left: 4.5em
    }
h3.c6 {
    font-style: italic
    }
span.c5 {
    font-style: italic;
    margin-left: 9.5em
    }
td.c4 {
    font-style: italic
    }
span.c3 {
    font-style: italic;
    margin-left: 5em
    }
a.c2 {
    font-weight: bold
    }
hr.c1 {
    width: 65%
    }
/**/