/**/
hr.c6 {
    width: 45%
    }
hr.c5 {
    width: 5%
    }
td.c4 {
    font-weight: bold
    }
a.c3 {
    font-weight: bold
    }
big.c2 {
    font-weight: bold
    }
hr.c1 {
    width: 65%
    }
/**/