@charset "utf-8";
body, body.tei.tei-text {
    color: black;
    background-color: white;
    margin: 0.5em;
    width: auto;
    border: 0;
    padding: 0
    }
h1,
h2,
h3,
h4,
h5,
h6,
hgroup{
	break-after: avoid;	
	page-break-after: avoid;
	break-inside: avoid;	
	page-break-inside: avoid;
	font-variant: small-caps;
	hyphens: none;
	adobe-text-layout: optimizeSpeed; /* For Nook */
	adobe-hyphenate: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-epub-hyphens: none;
	margin-top: 3em;
	margin-right: 0;
	margin-bottom: 3em;
	margin-left: 0;
	text-align: center;
}
div.pgebub-root-div {
    margin: 0
    }
h2 {
    page-break-before: always;
    padding-top: 1em
    }
div.figcenter span.caption {
    display: block
    }
.pgmonospaced {
    font-family: monospace;
    font-size: 0.9em
    }
a.pgkilled {
    text-decoration: none
    }
    
.dedication {
    margin-top: 25%;
    margin-right: auto;
    margin-bottom: 25%;
    margin-left: auto;
    text-align: center;
    text-indent: 0;
}