/**/
span.c13 {
    font-size: 0.8em
    }
span.c12 {
    margin-left: 1.5em
    }
span.c11 {
    margin-left: 2em
    }
span.c10 {
    margin-left: 2.5em
    }
p.c9 {
    margin-left: 15%
    }
span.c8 {
    margin-left: 3em
    }
span.c7 {
    margin-left: 1em
    }
p.c6 {
    margin-left: 20%
    }
p.c5 {
    margin-left: 60%;
    font-size: 0.8em
    }
p.c4 {
    margin-left: 70%;
    font-size: 0.8em
    }
p.c3 {
    font-size: 0.8em
    }
/**/