/**/
p.c35 {
    margin-left: 10%
    }
span.c34 {
    margin-left: 2em
    }
pre.c33 {
    margin-left: 7.5%;
    font-size: 1.4em
    }
span.c32 {
    margin-left: 1em
    }
td.c31 {
    font-weight: bold
    }
p.c30 {
    margin-left: 6em
    }
p.c29 {
    margin-bottom: 2em
    }
p.c28 {
    margin-left: 20%
    }
span.c27 {
    margin-left: 5em
    }
span.c26 {
    margin-left: 4.5em
    }
span.c25 {
    margin-left: 6.5em
    }
span.c24 {
    margin-left: 5.5em
    }
span.c23 {
    margin-left: 6em
    }
span.c22 {
    margin-left: 7em
    }
span.c21 {
    margin-left: 3.5em
    }
p.c20 {
    margin-left: 35%
    }
p.c19 {
    margin-left: 30%
    }
span.c18 {
    margin-left: 1.5em
    }
p.c17 {
    text-align: center
    }
span.c16 {
    margin-left: 1em
    }
span.c15 {
    font-style: italic;
    margin-left: 8.5em
    }
p.c14 {
    margin-left: 40%
    }
p.c13 {
    font-size: 0.8em
    }
p.c12 {
    font-size: 0.6em
    }
p.c11 {
    font-size: 0.7em
    }
p.c10 {
    font-size: 2.4em
    }
span.c9 {
    font-size: 1.8em
    }
p.c8 {
    margin-top: 2em
    }
p.c7 {
    margin-left: 20%;
    margin-top: 3em
    }
span.c6 {
    font-size: 0.8em
    }
p.c5 {
    margin-top: 1.5em
    }
p.c4 {
    margin-left: 25%
    }
p.c2 {
    font-size: 0.8em;
    text-align: center
    }
/**/