/**/
h5.c9 {
    font-style: italic
    }
hr.c7 {
    width: 45%
    }
p.c6 {
    font-weight: bold
    }
p.c5 {
    font-weight: bold
    }
h1.c4 {
    font-style: italic
    }
hr.c3 {
    width: 65%
    }
p.c2 {
    text-align: center
    }
/**/