/**/
span.c5 {
    font-style: italic;
    margin-left: 5em
    }
h3.c4 {
    font-style: italic
    }
span.c3 {
    margin-left: 5em
    }
a.c2 {
    font-weight: bold
    }
hr.c1 {
    width: 65%
    }
/**/