/**/
h3.c19 {
    font-style: italic
    }
span.c18 {
    margin-left: 6.5em
    }
span.c17 {
    margin-left: 15em
    }
span.c16 {
    margin-left: 12.5em
    }
span.c15 {
    margin-left: 9.5em
    }
span.c14 {
    margin-left: 9em
    }
span.c13 {
    margin-left: 4.5em
    }
span.c12 {
    margin-left: 2em
    }
span.c11 {
    margin-left: 6em
    }
span.c10 {
    margin-left: 4em
    }
span.c9 {
    margin-left: 22em
    }
span.c8 {
    margin-left: 1em
    }
span.c7 {
    margin-left: 8em
    }
span.c6 {
    margin-left: 3.5em
    }
span.c5 {
    margin-left: 2.5em
    }
span.c4 {
    margin-left: 5em
    }
a.c3 {
    font-weight: bold
    }
hr.c2 {
    width: 35%
    }
hr.c1 {
    width: 65%
    }
/**/