/**/
h3.c8 {
    font-style: italic
    }
span.c7 {
    margin-left: 5em
    }
span.c6 {
    font-style: italic;
    margin-left: 2em
    }
span.c5 {
    margin-left: 4em
    }
span.c4 {
    font-style: italic;
    margin-left: 22.5em
    }
span.c3 {
    font-style: italic;
    margin-left: 5em
    }
a.c2 {
    font-weight: bold
    }
hr.c1 {
    width: 65%
    }
/**/