/**/
span.c22 {
    font-style: italic;
    margin-left: 6em
    }
td.c21 {
    font-style: italic
    }
span.c20 {
    font-style: italic;
    margin-left: 7em
    }
span.c19 {
    font-style: italic;
    margin-left: 22em
    }
span.c18 {
    font-style: italic;
    margin-left: 24em
    }
span.c17 {
    font-style: italic;
    margin-left: 20em
    }
span.c16 {
    margin-left: 18em
    }
span.c15 {
    margin-left: 21.5em
    }
span.c14 {
    margin-left: 15em
    }
span.c13 {
    font-style: italic;
    margin-left: 21em
    }
span.c12 {
    margin-left: 20em
    }
span.c11 {
    margin-left: 19em
    }
span.c10 {
    margin-left: 16.5em
    }
span.c9 {
    font-weight: bold;
    margin-left: 21em
    }
span.c8 {
    font-weight: bold;
    margin-left: 16em
    }
span.c7 {
    font-weight: bold;
    margin-left: 18em
    }
span.c6 {
    font-style: italic;
    margin-left: 5em
    }
span.c5 {
    font-style: italic;
    margin-left: 18em
    }
p.c4 {
    margin-left: 60%
    }
span.c3 {
    margin-left: 5em
    }
p.c2 {
    margin-left: 20%;
    font-size: 0.8em
    }
/**/