/**/
span.c9 {
    font-style: italic;
    margin-left: 6em
    }
span.c8 {
    font-style: italic;
    margin-left: 10em
    }
span.c7 {
    font-style: italic;
    margin-left: 6.5em
    }
span.c6 {
    font-style: italic;
    margin-left: 5em
    }
span.c5 {
    font-style: italic;
    margin-left: 5.5em
    }
span.c4 {
    margin-left: 15em
    }
h3.c3 {
    font-style: italic
    }
a.c2 {
    font-weight: bold
    }
hr.c1 {
    width: 65%
    }
/**/