/**/
span.c15 {
    font-style: italic;
    margin-left: 6.5em
    }
span.c14 {
    font-style: italic;
    margin-left: 5.5em
    }
span.c13 {
    font-style: italic;
    margin-left: 7em
    }
span.c12 {
    font-style: italic;
    margin-left: 6em
    }
span.c11 {
    margin-left: 6em
    }
span.c10 {
    margin-left: 8em
    }
span.c9 {
    margin-left: 5.5em
    }
span.c8 {
    margin-left: 5em
    }
span.c7 {
    margin-left: 6.5em
    }
span.c6 {
    margin-left: 9em
    }
p.c5 {
    text-indent: 0%;
    margin-left: 2%
    }
h3.c4 {
    font-style: italic
    }
span.c3 {
    font-style: italic;
    margin-left: 5em
    }
a.c2 {
    font-weight: bold
    }
hr.c1 {
    width: 65%
    }
/**/